.box{
  float: left;
  width: 25%;
  text-align: center;
  
}
.thumbnail{
  
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px
  width: 150px;
  height: 150px;
}

.title{
  text-align: center;
}

