.box{
  float: left;
  width: 25%;
  height: 25%;
}
.thumbnail{
  
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px
  width: 150px;
  height: 150px;
}

.title{
  text-align: center;
}

div{
  text-align: center;
}
