.light img{
  border:5px solid black;
}

.light .jumbotron{
  border: 5px solid black;
}

.dark{
  background-color: black;
  color: white;
}

.dark img{
  border: 5px solid white;
}

.dark .jumbotron{
  border: 5px solid white;
}

.col-md-3{
  text-align: center;
}
.col-md-3 img{
  border-radius: 10%;
  width: 50%; 
}

.jumbotron {
  padding: 1rem .5rem;
  margin-bottom: 2rem;
  border-radius: 15%;
  text-align: center;
}
